*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

@supports (-webkit-touch-callout: none) and (not (translate: none)) {
    and:not(:last-child) {
        margin-right: 5%;
    }
}

.App {
    text-align: center;
}

.App-header {
    background: linear-gradient(to right, #34A389, #F09B7E);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    background-color: silver;
}

@media screen and (max-width: 500px) {
    .calculator-grid {
        grid-template-columns: repeat(4, 20vw);
        grid-template-rows: minmax(25vw, auto) repeat(5, 23vw);
    }
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 500px) {
    .calculator-grid>button {
        font-size: calc(12px + 4vmin);
    }
}

@media screen and (max-width: 500px) {
    #del {
        font-size: 7vw;
        text-align: center;
    }
}

.calculator-grid>button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
    grid-column: span 2;
}

#display-big {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

#display-big .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

#display-big .current-operand {
    color: white;
    font-size: 2.5rem;
}